option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "projectMadara.settings"
    "PYTHONPATH": "/opt/python/current/app/projectMadara:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: projectMadara/projectMadara/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/static_pro/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python projectMadara/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python projectMadara/manage.py collectstatic --noinput"
  04_wsgireplace:
    command: "source /opt/python/run/venv/bin/activate && cp wsgi.conf ../wsgi.conf"
