*{
	font-family: 'Montserrat', sans-serif;
}
/*apply dark mode*/

.night-mode body{
    background-color: #373a3c;
	color: #ffffff;
	mix-blend-mode: difference;
	transition:background-color 2s;
}

.night-mode hr{
	border-color:white;
}
.night-mode div.footer-nav li a{
	color:white;
}

h1{
	letter-spacing: 1.5px;
	font-weight: bold;
	font-size: 40px;
}

.home {
	max-height: 45px;
	max-width: 45px;
}

.home a:hover{
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav{
	margin-top: 20px;
}

.nav-pills a{
	font-weight: bold;
	color: #00AADE;
}

.nav-pills a:hover {
	color:#00769b;
}

section{
	min-height: 100%;
}

.btn-default {
	text-decoration: none;
}

.btn-default:hover {
	border: 1px solid #111111;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Preloader_2.gif) center no-repeat #fff;
}

.comment-reply{
	display:none;
	}
