{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css'%}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
    <h1 class="center-block">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Please enter your e-mail address below." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form  | crispy }}
        <input class="btn btn-primary center-block" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    </div>
</div>
{% endblock %}
