h1{
	font-weight: bold;
	color: #00AADE;
}


img {
	max-height: 250px;
}

ul{
	padding-left: 0px;
}

.human-social-links li
{
	display: inline;
}

.human-social-links li:not(:first-child):before
{
	content: '|';
	padding: 0px 10px;
}

.human-social-links a 
{
	color:#545454;
}

.human-social-links a:hover 
{
	/*color : #fff;*/
	
	color: #000000;
	text-decoration: none;
}
