{% extends '../base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3" align="center">
		<h1>what is gitall?</h1>
	</div>
</div>
<div class="clearfix" style="height: 20px;"></div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 ">
		<p class="center-block" style="font-weight: normal; font-size: 16px;">GitAllTech is a platform for tech knowledge on the internet. 
		<br/><br/>
		Tech knowledge is scattered all over the internet as videos, ghost-potfolio or tech-specific blogs. Apart from these, it is mostly absent or limited to documentations and out of reach for most of the developers. This is our initiative to bring developers, learners, organisations and technologies together.
		<br/><br/>
		We at GitAll believe that education is the only way to transform the world around us and democratization of these learning resource is key to bringing about that universal prosperity and development. 
		<br/><br/>
		GitAll is hence a unified community for every tech creator out there.</p>
	</div>
</div>
<div class="clearfix" style="height: 20px;"></div>
<div class="row">
	<div class="col-md-6 col-md-offset-3" align="center">
		<h1 style="font-weight: bold; color: #00AADE;">who are we?</h1>
		<p style="font-weight: bold;">some hustlers. like you.</p>
	</div>
</div>
<div class="row" class="clearfix" style="height: 20px;"></div>
<div class="row">
	<div class="col-md-3" align="center">
		<img src="{% static 'img/about/hasime.jpg' %}" class="img img-responsive">
		<div class="clearfix" style="height: 10px;"></div>
		<p><b>Hardeep Singh Mehra</b></p>
		<p>hasime@gitall.tech</p>
		<ul class="human-social-links">
			<li><a href="https://www.facebook.com/iamhasime"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://www.linkedin.com/in/iamhasime/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/daVincere"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
		</ul>   
	</div>
	<div class="col-md-3 block" align="center">
		<img src="{% static 'img/about/raunaq.jpg' %}" class="img img-responsive">
		<div class="clearfix" style="height: 10px;"></div>
		<p><b>Gur Raunaq Singh Soni</b></p>
		<p>raunaq@gitall.tech</p>
		<ul class="human-social-links">
			<li><a href="https://www.facebook.com/raunaq.soni"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://www.linkedin.com/in/gurraunaqsingh/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/gurraunaqsingh"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
		</ul> 
	</div>
	<div class="col-md-3 block" align="center">
		<img src="{% static 'img/about/gulati.jpg' %}" class="img img-responsive">
		<div class="clearfix" style="height: 10px;"></div>
		<p><b>Ashish Gulati</b></p>
		<p>ashish@gitall.tech</p>
		<ul class="human-social-links">
			<li><a href="https://www.facebook.com/ashishgulati71"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://www.linkedin.com/in/ashishgulati71/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
			<li><a href="https://github.com/ashishgulati71"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
		</ul> 
	</div>
		<div class="col-md-3 block" align="center">
		<img src="{% static 'img/about/rajdeep.jpg' %}" class="img img-responsive">
		<div class="clearfix" style="height: 10px;"></div>
		<p><b>Rajdeep Singh</b></p>
		<p>rajdeep@gitall.tech</p>
		<div align="center">
			<ul class="human-social-links">
				<li><a href="https://www.facebook.com/rajdeep1008"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
				<li><a href="https://www.linkedin.com/in/rajdeep1008/"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
				<li><a href="https://github.com/rajdeep1008"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="clearfix" style="height: 20px;"></div>
{% endblock %}