{% extends '../base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-4 block">
		<img src="#">
		<h2><a href="#">web</a></h2>
	</div>
	<div class="col-md-4 block">
		<img src="#">
		<h2><a href="#">android</a></h2>
	</div>
	<div class="col-md-4 block">
		<img src="#">
		<h2><a href="#">ios</a></h2>
	</div>
</div>
<div class="row">
	<div class="col-md-4 block">
		<img src="#">
		<h2><a href="#"></a></h2> 
	</div>
	<div class="col-md-4 block">
		<img src="#">
		<h2><a href="#"></a></h2>
	</div>
	<div class="col-md-4 block">
		<img src="#">
		<h2><a href="#"></a></h2>
	</div>
</div>

{% endblock %}