{% extends '../base.html' %}
{% load staticfiles %}
{% block content %}

<center><h1>Terms and Conditions</h1></center>
<br>
<div class="row">
<div class="col-sm-2">
</div>
	<div class="col-sm-8 ">

		<ul style="line-height: 180%;">
			<li>By registering you are acknowledging that you are bound by the terms and conditions in this End User License Agreement. Please review these carefully before accepting.
			<li >You must agree to all of the terms of this EULA to use this Software. If so, you may use the Software for free and for any lawful purpose.
			<li>The user can use their account and all the Software Applications is available only to persons who can enter in to legally binding contracts under applicable law. The softwares may have their own terms and conditions.
			<li>A human must create your Account who should be 13 or over. If we find any user to be below the age of 13 we hold the right to delete the users account.
			<li>You must provide a valid email address; and you may not have more than one free Account.
			<li>You are responsible for all content posted and activity that occurs under your Account.
			<li >You are responsible for keeping your Account secure. If you get to know of any unauthorized access of your account then we request you to notify Gitall asap.
			<li>We only collect the information you choose to give us, and we process it with your consent, or on another legal basis; we only require the minimum amount of personal information that is necessary to fulfill the purpose of your interaction with us.
			<li>We don't sell it to third parties and only use it as this Privacy Statement describes
			<li>The usage by the user must never violate the laws of any type like trademark, jurisdiction laws.
			<li>The content from the user must not be unlawful, offensive, sexually obscene or that does not belong to you and someone else has rights on it.
			<li >User should ensure no malware of any sorts be uploaded by any means  No personal information of any 3rd party to be displayed without their consent
			<li>No abuse of any type or blackmail be done to the Gitall employees or to other users.
			<li>No exploitation or tampering of the gitall server.
			<li>The use is not allowed to copy any data from the website and display it anywhere as their data. The rights for the data available on the website all belong to Gitall only
			<li>You may close your Account at any time
			<li>We will not be liable to any user for any modification or discontinuation of any service.
			<li>If any modification is made in the terms and conditions or use, you will be notified via email.
			<li>Gitall reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Software (or any part thereof) with or without notice. GitHub shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Software.
		</ul>
	</div>
	<div class="col-sm-2">
	</div>
</div>

{% endblock %}